.container{
    width: 1980px;
}

.background {
	background: rgb(173,216,230);
	background: linear-gradient(180deg, rgba(173,216,230,1) 26%, rgba(240,255,255,1) 74%, rgba(240,255,255,1) 100%);
}

/*====================================================*/

.header{
    width: 100%;
    background-color: #ADD8E6;

	position: fixed;
	top: 0;
	left: 0;
}

.header_body{
	font: 120% Verdana, sans-serif;
	margin-left: 100px;
	display: flex;
	justify-content: flex-start;
    flex-direction: row;
}

.header_logo{
	width: 200px;
	height: 30%;
	margin: 2.5px 0px 0px 0px;
	padding: 5px 0px;
	display: block;
}

.header_logo img{
	width: 178px;
	height: 86px;
	margin: 2.5px 0px 0px 0px;
	padding: 5px 0px;
	display: block;
}

.header_list{
	list-style-type: none;
	display: flex;
	margin: 20px 25px;
	margin-top: 40px;
}

.header_link{
	margin: 0px -3px 0px 0px;
	padding: 17px 50px;
	text-decoration: none;
	border: solid black;
	border-top: none;
	border-bottom: none;
	white-space: nowrap;
}
.header_link:hover{ background-color: #A7C7E7; }

/*====================================================*/

.about{
	height: auto;
	display: flex;
	padding-top: 10px;
	margin-top: 80px;

	font: 120% Verdana, sans-serif;
}

.about_body{
	padding: 40px 500px 0px 40px;
	margin-left: 500px;
	margin-top: 30px;

	background: #F0FFFF;

	border: solid black;
	border-right: none;
}

.another_about{
	margin: 5px 0 0 0;
}

.about_pros_menu{
	padding-left: 40px;
	margin-bottom: 54px;
	font-weight: bold;
}

.about_button{
	font: 80% Verdana, sans-serif;
	width: 30%;
	height: 30px;
	border-radius: 10px;
	background-color: #6495ED;
	margin-top: 10px;
	margin-bottom: 54px;
}
.about_button:hover{ background-color: #6082B6; }
.about_button:active{ background-color: #0047AB; }

/*====================================================*/

.book_folk{
	padding: 20px 0px 0px 0px; 
}

.book{
	font: 120% Verdana, sans-serif;
	display: flex;
    flex-direction: row;
	position:relative;

	background: #F0FFFF;
	border: solid black;
	border-left: none;

	padding: 8px 8px 8px 410px;
	margin-right: 600px;
	margin-top: 20px;
	width: 1000px;
} 

.book_inf{
	padding-right: 10px;
	padding-top: 5px;
	text-align: right;	
}

.book_name{
	font: 200% Verdana, sans-serif;
	color: #0047AB;
}

.book_action_button button{
	background: #6495ED;
	width: 20px;
	height: 20px;
	border-radius: 10px;
}

.book_action_button button img {
	width: 90%;
	height: 90%;
}

/* Rate classes */

.book_rate_1 {
	color: red;
}

.book_rate_2 {
	color: orangered;
}

.book_rate_3 {
	color: orange;
}

.book_rate_4 {
	color: #80AD00;
}
.book_rate_5 {
	color: rgb(145, 214, 42);
}